@theme-color: #e74c3c;
@container-width: 100%;

* {
  font-family: 'Nunito', sans-serif;
}

.header-font {
  font: 32px 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 { font-size: 30px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

#app {
  .view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex: 1;
  }

  .layout-simple {

  }
  .layout-sidebar {
    display: flex;
    flex-direction: row;
  }
}

@import "_views/login";
@import "_views/permission-container";

@import "_components/sidebar";
@import "_components/context-menu";

@import "_modules/header";
@import "_modules/content";
@import "_modules/breadcrumb";
@import "_modules/form";
@import "_modules/message";
@import "_modules/grid-header";
@import "_modules/grid";
@import "_modules/modal-form";
@import "_modules/list";
@import "_modules/detail";
