.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  .logo {
    margin: 15px 0 10px 0;
    text-align: center;
    width: 100%;
    img {
      max-width: 64px;
    }
  }
  .menu {
    flex: 1;
    padding: 0 15px;
    position: relative;
    div.menu-loader {
      text-align: center;
      margin: 25px 0 0 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        cursor: pointer;
        a {
          color: #333;
          text-decoration: none;
          display: block;
          padding: 5px 10px;
          font-size: 14px;
          position: relative;
          &.router-link-exact-active {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 3px;
          }
          &.router-link-active {
            + ul {
              display: block;
            }
            svg.menu-toggle.opened {
              display: block;
            }
            svg.menu-toggle.closed {
              display: none;
            }
          }
          svg.menu-toggle {
            position: absolute;
            top: 7px;
            right: 7px;
            font-size: 12px;
            color: #666;
            &.opened {
              display: none;
            }
            &.closed {

            }
          }
        }
        > ul {
          margin: 0 0 0 10px;
          display: none;
        }
      }
    }
  }
  .version-info {
    padding: 5px 10px;
    font-size: 14px;
    .application-version {
      text-align: right;
    }
  }
  .login-info {
    padding: 15px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    cursor: pointer;
    &:hover {
      span.menu-toggle {
        color: #666;
      }
    }
    .username {
      flex: 1;
      font-size: 14px;
    }
    span.menu-toggle {
      color: #333;
    }
  }
}